
<div class="container-content">   
    <form>
        <button class="btn btn-outline-primary" (click)="submitRepos()"><i class="fa fa-search"
                aria-hidden="true"></i>Search repo</button>
    </form>
</div>
<div class="container-user">
    <div class="row">
        <div class="col">
            
            <p>{{repo.name}}</p>
            <p>{{ repo.description }}</p>
            <p>{{ repo.forks }}</p>
            <p>{{ repo.watchers_count }}</p>
            <p>{{ repo.language }}</p>
        </div>
    </div>
</div>