<div class="container-content">
    <form>
        <input class="form-control" type="text" placeholder="Please enter github username" name="loginName"
            [(ngModel)]="submit">
        <button class="btn btn-outline-primary" (click)="submitRepos()"><i class="fa fa-search"
                aria-hidden="true"></i>Search</button>
    </form>
</div>
<div class="container-user">
    <div class="row">
        <div class="col">
            <img src="{{user.avatar_url}}" alt="">
        </div>
        <div class="col">
            
            <p>Username: {{user.login}}</p>
            <p>Repositories: {{user.public_repos}}</p>
        </div>
    </div>
</div>
