
<h1>SEARCH YOUR USER GITHUB</h1>
<div class="container-content">
    
    <form>
        <input class="form-control" type="text" placeholder="Please enter github username" name="loginName"
            [(ngModel)]="submit">
        <button class="btn btn-outline-primary" (click)="submitRepos()"><i class="fa fa-search"
                aria-hidden="true"></i>Search user</button>

                <a href="{{user.html_url}}"><button class="btn-outline-success btn btn-sm"><i class="fa fa-github" style="font-size:20px"></i> &nbsp; <span id="profile">Github Repo</span> </button></a>
    </form>


    
        
            <img src="{{user.avatar_url}}" alt="">
            <br>
            <br>
            <div class="card" >
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" appHighlight>Username: {{user.login}}</li>
                  <li class="list-group-item" appHighlight>Repositories: {{user.public_repos}}</li>
                  <li class="list-group-item" appHighlight>Followers: {{ user.followers }}</li>
                  <li class="list-group-item" appHighlight>Following: {{ user.following }}</li>
                </ul>
              </div>
    </div>

   