/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image:url(https://res.cloudinary.com/auca/image/upload/v1604871833/image2_zol5vl.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 80vh;
}